<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Stocks</title>
  </head>
  <body>

  <h1>Wellcome to the Stocks App home page!</h1>
<!--    <h1>Stocks</h1>-->
<!--    <ul>-->
<!--      {% for stock in stocks %}-->
<!--        <li>{{ stock.stock_name }} ({{ stock.stock_symbol }}), {{stock.market_name}}, {{stock.country}}</li>-->
<!--      {% endfor %}-->
<!--    </ul>-->


<!--    <h1>Prices</h1>-->
<!--    <ul>-->
<!--      {% for price in prices %}-->
<!--        <li>{{ price.stock_name }} ({{ price.stock_symbol }}), ${{price.price}}, {{price.price_date}}</li>-->
<!--      {% endfor %}-->
<!--    </ul>-->

  </body>
</html>
